<h2> Below is the represenation of collected events: </h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

        <div class="form-group">
          <label>Number of nodes limit: </label>
          <input type="number" [(ngModel)]="queryLimit"/>
        </div>

        <h2>Centrality</h2>

        <div class="form-group">
          <label> Centrality Algorithm </label>
          <select [(ngModel)]="centralityAlgorithm" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let algorithm of ca_algorithms" value = {{algorithm}}>{{algorithm}}</option>
          </select>
        </div>

        <div>
          <button (click)="drawCentrality($event)">Centrality</button>
        </div>

        <h2>Community Detection</h2>

        <div class="form-group">
          <label> Community Detection Algorithm </label>
          <select [(ngModel)]="communityDetectionAlgorithm" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let algorithm of cda_algorithms" value = {{algorithm}}>{{algorithm}}</option>
          </select>
        </div>

        <div>
          <button (click)="drawCommunity($event)">Detect community...</button>
        </div>

      <h2> Apply pathfinding algorithm </h2>
      <div>
          <label> Pathfinding Algorithm </label>
          <select [(ngModel)]="pathAlgo" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let algorithm of pathfinding_algorithms" value = {{algorithm}}>{{algorithm}}</option>
          </select>
      </div>

      <div>
        <button (click)="drawPath($event)">Draw path!</button>
      </div>

      <h2> Others </h2>

      <div>
        <label> Remove extra props: </label>
        <button (click)="resetViz($event)">Clear windows</button>
      </div>

      <div>
        <label> Redraw only: </label>
        <button (click)="redraw($event)">Redraw</button>
      </div>
      
    </div>
  </div>
</div>

<div id="viz"></div>

