<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="800" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Hermes_Io_Argus.jpg">
</div>
<h2>The all-seeing eyes help you watch smart-contract event: </h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="form-horizontal" [formGroup]="setupForm" (ngSubmit)="initArgos()">
        
        <!-- ABI -->
        <div class="form-group">
          <label>Contract's ABI: </label>
          <input type="text" formControlName="ethersAbi" class="form-control" [ngClass]="{ 'is-invalid': getFormControls.ethersAbi.errors }"/>
          <div *ngIf="getFormControls.ethersAbi.errors" class="invalid-feedback">
            <div *ngIf="getFormControls.ethersAbi.errors.required">ABI is required</div>
          </div>
        </div>

        <!-- Address -->
        <div class="form-group">
          <label>Contract's address: </label>
          <input type="text" formControlName="ethersAddr" class="form-control" [ngClass]="{ 'is-invalid': getFormControls.ethersAddr.errors }"/>
          <div *ngIf="getFormControls.ethersAddr.errors" class="invalid-feedback">
            <div *ngIf="getFormControls.ethersAddr.errors.required">Address is required</div>
          </div>
        </div>

        <!-- flush db first? -->
        <div class="form-group">
          <label>Retrieve from genesis block (clear DB): </label>
          <input type="checkbox" formControlName="clearDB"/>
          
        </div>
    
        <div class="form-group">
          <button class="btn btn-dark"> Start watching </button>
        </div>

      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
